@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

body {
    background: rgb(255, 255, 255);
    margin: auto !important;
    max-width: 1140px;
    max-height: 1290px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*Début positionnement*/

main {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    ;
}


header {
    width: 100%;
    height: 50rem;
    position: relative;

}

.bg-image,
.bg-imagecontain,
.bg-imagecontainwhite,
.bg-imagesmall,
.bg-imageresized,
.bg-imagecontact {
    align-self: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 0rem;
}

.conteneur {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
}

.presentation {
    position: absolute;
    background-color: #ffffffbd;
    width: 28%;
}

#presentationCombat {
    background-color: #ffffffed;
}

.conteneur .presentation {
    bottom: 0;
    right: 0;
}

section {
    margin: 1.75rem;
}

main {
    margin: 1.75rem 0 1.75rem 0;
}

.presentation-large {
    text-align: center;
}

/*Fin  positionnement*/




p {
    color: rgb(0, 0, 0);
    font-size: 1rem !important;
    font-family: 'Roboto', sans-serif;
}

.presentation>section>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#txt1,
#txt2,
#txt3 {
    font-family: 'Roboto', sans-serif;
}

#txt2 {
    margin: 1em 8.5rem 0 8.5rem;
}

#txt1,
#txt2,
#txt3>p {
    text-align: justify;
    font-size: 1.2rem !important;
    font-weight: 200;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Nixie One', cursive;
    font-size: 2.75rem !important;
    font-weight: bold !important;
}

h3 {
    font-weight: 300 !important;
}

h4,
h5 {
    font-weight: 300 !important;
}

h6 {
    font-weight: 200 !important;
}

.list1>ol>h5,
.list2>ol>h5 {
    font-size: 1.4rem;
    font-weight: 800;
}

li>p {
    font-weight: 300;
}

.list1>ol,
.list2>ol {
    display: list-item;
    list-style-type: none;
    list-style-position: outside;
}

.list1>ol>ul,
.list2>ol>ul {
    display: list-item;
    list-style-type: none;
    list-style-position: outside;
    margin: 1.5rem;
    ;
}

.list1>ol>ul>li,
.list2>ol>ul>li {
    margin: 1.5rem;
    ;
}

.contact {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.contact h1,
.contact h2 {
    font-weight: 300;
}

.box2,
.boxAgenda {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collaboration {
    position: relative;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-top: -2%;
    padding-left: 1.75rem;

}

.collaboration>div {
    margin-top: 3.5rem;
    margin-right: 10%;
}

h6+p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.25rem !important;
}





/*footer*/
footer {
    margin: 2.75rem 0 2.5rem 0;
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-family: 'Nixie One', cursive;
}

.icon {
    height: auto;
    width: auto;
    max-width: 1.3rem;
    max-height: 1.3rem;
}

.bi {
    z-index: 0;
    color: rgb(124, 124, 124);
}

footer .bi:hover {
    fill: rgb(0, 0, 0) !important;
}



/*Début Menu*/

#openBtn {
    margin: 0.75rem;
}

button {
    color: black !important;
    background-color: #fff !important;
}

.dropdown-toggle {
    float: left;
}

.dropdown-menu.show {
    position: relative !important;
    clear: both;
    margin-top: 0;
    transform: none !important;
}

.dropdown-item {
    background-color: #ffffff;
}

.btn-outline-dark:hover {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #CCC;
}

.btn-outline-dark:active,
.btn-outline-dark:focus {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #CCC;
}

.sidenav.active {
    color: #fff;
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255);
}

button .btn .btn-outline-dark .dropdown-toggle {
    z-index: auto;
    float: left;
    position: relative;
    transition: all 0.5ms ease-out;
}

.btn-outline-dark {
    border: #CCC 0.1px solid !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: none;
}

.accordion {
    width: 10rem !important;
}

.sidenav {
    height: 100%;
    width: 10rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-stretch: semi-expanded;
    font-size: 70%;
    box-shadow: none;
    transition: all 0.5ms ease-out;
}

.sidenav a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    border-radius: 0% !important;
}

.sidenav a:hover {
    color: #CCC;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav a {
    font-size: 1rem;
    color: #000000;
    display: block;
}

.sidenav a .dropdown-item {
    margin: 0 !important;
}

.sidenav li a:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}

.sidenav button:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}

.sidenav a:hover {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

a {
    color: #000 !important;
    text-decoration: underline !important;
    font-weight: 200;
    font-size: 1.2rem;
}

.sidenav a {
    text-decoration: none !important;
}

.sidenav ul {
    list-style-type: none;
    background: #ffffff;
    padding: 0;
    margin: 0;
}

.sidenav li {
    border: #CCC 0.1px solid;
}

.sidenav li:hover {
    border: #CCC 0.1px solid;
    color: #000;
}

li {
    padding: -15%;
}

.sidenav.active {
    left: 0;
    transition: all 0.5ms ease-out;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #fff;
    transition: all 0.5s ease-out;
}

a.close:hover {
    color: transparent !important;

}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
    box-shadow: none !important;
}

.accordion-button {
    height: 2rem;
    font-weight: 300;
    padding: 0 !important;
    border-bottom: none !important;
    border-right: none !important;
}

.accordion-body{
    padding: 0 !important;
}

.dropdown-toggle{
    color: #fff;
}


.btn {
    padding: 0 !important;
}

.btn>a {
    height: 2rem;
    width: 9.9rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
}


.accordion-item>.btn {
    height: 2rem;
    width: 11rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
}

.dropdown-item {
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}


.methodebtn {
    height: 3.25rem !important;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15%;
    margin: 5px 0;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: -25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15%;
    margin: 5px 0;
}

.burger-icon-white span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.599);
    border-radius: 15%;
    margin: 5px 0;
}

/*Fin  Menu */












/* Début background variations */

#home {
    background-image: url(./photo/IfangHomePage.jpg);
}

#methode {
    background-image: url(./photo/1200x630_jocelyn-cottencin.jpg);
}

/*Contact*/

#contact {
    background-image: url(./photo/auLarge.jpg);
}

#maiastra {
    background-image: url(./photo/maxresdefault.jpg);
}

/*créations*/

#chinoiseries {
    background-image: url(./photo/enchinoiseries.jpg);
}

#skein {
    background-image: url(./photo/7_889526.jpg);
}

#ebloui {
    background-image: url(./photo/01234633.jpg)
}

#auLarge {
    background-image: url(./photo/image.jpg)
}

#origine {
    background-image: url(./photo/123140932.jpg)
}

#combat {
    background-image: url(./photo/121245427.jpg)
}

/*Collaborations*/

#collab {
    background-image: url(./photo/Micro_halle_1_Marielle_Rossignol-51.jpg)
}

#film {
    background-image: url(./photo/Capture\ d’écran\ 2022-12-08\ 174114.jpg);
}

#agenda {
    background-image: url(./photo/image_danse.jpg);
}

/* Fin background variations */



/*Media Queries Small Screen*/

@media screen and (max-width: 768px) {

    #txt1,
    #txt2,
    #txt3 {
        margin: 0 7% 0 7%;
    }

    #txt1,
    #txt2,
    #txt3>p {
        font-size: 0.97rem !important;
    }

    #txt1 {
        margin: 2rem 7% 1rem 7% !important;
    }

    h1 {
        font-size: 2rem !important;
        font-weight: bold !important;
    }

    .bg-imagecontact {
        background-size: 190%;
    }

    header.bg-imagecontact {
        height: 20rem;
    }

    .bg-imagesmall {
        background-size: cover;

    }

    #methode,
    #maiastra,
    #chinoiseries,
    #film,
    #collab {
        height: 33rem;
    }

    #skein,
    #ebloui,
    #auLarge,
    #origine {
        height: 36rem;
    }

    #presentationCombat {
        background-color: #ffffff;
    }

    .bg-imageresized {
        background-size: 110%;
    }

    .collaboration {
        display: flex;
        flex-direction: column;
    }

    .collaboration>div {
        margin-top: 3.5rem;
        margin-right: 0;
    }

    .list1>ol>ul,
    .list2>ol>ul {
        margin: 0.25rem;
    }

    .list1>ol>ul>li,
    .list2>ol>ul>li {
        margin: 0.25rem;
    }


    header.bg-imageresized {
        height: 36rem;
    }

    header {
        height: 42rem;
    }

    .biographie {
        margin: 1rem 17% 0 17%;
    }

    section {
        margin: 1rem 17% 0 17%;
    }

    .presentation {
        bottom: -1.75rem !important;
        width: 100%;
        text-align: justify;
        background-color: #ffffff;
    }


    .œuvre {
        margin: 1rem 21% 0 21%;
        text-align: left;
    }

    .textOfŒuvre {
        margin-top: 2rem;
    }

    .œuvreWithText {
        margin: 0.25rem 7% 0 7% !important;
        text-align: left !important;
    }


    .calendrier {
        display: flex;
        bottom: -1.75rem !important;
        align-self: center;
        width: 100%;
        height: 8rem;
    }

    .styled-calendar-container {
        height: 585px !important;
    }

    .boxAgenda {
        position: relative;
        bottom: -31rem;
        ;
    }

    footer {
        margin: 2.75rem 0.75rem 2.5rem 0.75rem;
    }

    .sidenav {
        width: 11rem;
    }
}

/* Fin Media Queries Small Screen*/



/*Media Queries Medium*/

@media screen and (min-width: 768px) and (max-width: 970px) {
    .bg-imageresized {
        background-size: contain !important;
        height: 43.5rem;
    }

    #home>.conteneur>.presentation {
        bottom: 0 !important;
        width: 100%;
        text-align: justify;
        max-width: 100%;
    }

    .biographie {
        margin: 0rem 23% 0 23%;
    }
}


@media screen and (min-width: 769px) {


    #txt2 {
        margin: 2rem 22% 0 22%;
    }

    #txt1,
    #txt2,
    #txt3>p {
        font-size: 1rem !important;
    }

    h3 {
        font-size: 2rem !important;
    }

    .collaboration>div {
        margin-top: 3.5rem;
        margin-right: 0;
    }

    .list1>ol>ul,
    .list2>ol>ul {
        margin: 0.25rem;
    }

    .list1>ol>ul>li,
    .list2>ol>ul>li {
        margin: 0.25rem;
    }

    .sidenav {
        position: absolute;
        height: 11.35rem;
        background: white;
        left: 0px;
        margin-top: 0.75rem;
        border: none;
    }

    .sidenav.active {
        background-color: transparent !important;
    }

    .sidenav .close {
        display: none;
    }

    .burger-icon span {
        display: none;
    }

    p {
        font-size: 1rem !important;
    }

    .presentation {
        max-width: 33%;
    }

    #auLarge>.conteneur>.presentation,
    #skein>.conteneur>.presentation,
    #chinoiseries>.conteneur>.presentation,
    #ebloui>.conteneur>.presentation {
        width: 25%;
    }

    .methode>.presentation {
        width: 57%;
    }

    .bg-imagecontact {
        background-size: 100%;
    }

    header.bg-imagecontact {
        height: 19rem;
    }

    #collab,
    #film {
        height: 31rem;
    }

    #methode {
        height: 35.25rem;
    }

    #film {

        background-size: 82%;
        background-color: #000;
        background-position: center;
    }


    .calendrier {
        width: 32rem;
        height: 37rem;
    }

    .styled-calendar-container {
        height: 600px !important;
    }

    footer {
        margin: 2.75rem 0.75rem 2.5rem 0.75rem;
    }

}

/* Fin Media Queries Medium Screen*/



/*Media Queries Large Screen*/

@media screen and (min-width: 1140px) {

    section {
        margin: 2rem;
    }

    #txt2 {
        margin: 1.5rem 22.75% 0 22.75%;
    }

    #txt1,
    #txt2,
    #txt3>p {
        font-size: 1rem !important;
    }

    h3 {
        font-size: 2.5rem !important;
    }

    .collaboration {
        padding-left: 0;
    }

    .presentation>.biographie p {
        font-size: 1rem !important;
    }

    .bg-imagecontact {
        background-size: 120%;
    }

    header.bg-imagecontact {
        height: 32.5rem;
    }

    .bg-imagecontain {
        background-color: #000;
        background-size: contain;
    }

    .bg-imagecontainwhite {
        background-color: rgb(255, 255, 255);
        background-size: contain;
    }

    .calendrier {
        padding: 2.5rem 0 0 1.5rem;
        margin: 0.5rem 0 0 0.5rem;
        width: 50rem;
        height: 39rem;
    }

    .styled-calendar-container {
        height: 570px !important;
    }

    footer {
        margin: 2.75rem 0 3.5rem 0;
    }
}

/*Fin Media Queries Large Screen*/




/*Début internationalisation*/

.english .btn a {
    display: inline-block;
    font-weight: 300;
    font-size: 0.9rem;
    height: 1.4rem !important;
    width: 1.7rem !important;
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none !important;
}

.english .btn a:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}


.english .btn {
    text-align: center !important;
    height: 1.7rem;
    width: 1.8rem;
    background-color: #fff;
}

.english {
    position: absolute;
    margin-top: 0.5rem;
    right: 0;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle {
    color: #fff !important;
    background-color: #CCC !important;
}

/*Fin internationalisation*/







/*Cimetière des pages non-utilisées*/

/*Calendrier*/
#calendarTitle {
    font-family: 'Roboto', sans-serif !important;
}

.calendrier {
    position: absolute;
    background-color: #fff;
    width: 40%;
}

.conteneur .calendrier {
    bottom: 0;
    right: 0;
}

.fc-credit-button {
    display: none !important;
}

.styled-calendar-container {
    width: 100%;
    border: medium none;
    overflow: hidden;
    height: 600px !important;
}

/*Fin Calendrier*/



/*Form*/
.appointment {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30rem;
    width: 27rem;
}

.form-container {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28rem;
    width: 37rem;
}

form {
    display: flex;
    flex-direction: column;
}


fieldset {
    position: relative;
}

.appointment>ul>li {
    list-style: none;
    margin: 0.75rem;
}

input.input-field {
    width: 15em;
    margin-top: -2.1em;
    margin-right: 14.8em !important;
}

input,
textarea {
    position: absolute;
    right: 0;
    margin-right: 1rem !important;
    outline: 0;
}

input,
textarea:focus {
    box-shadow: none;
}

.form-correction:focus {
    outline: 0;
    box-shadow: none;
}


legend {
    position: relative;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.75rem !important;
}

label,
legend {
    font-family: 'Roboto', sans-serif;
}

label {
    margin-left: 2rem;
}

form>button {
    position: absolute;
    bottom: 0;
    margin: 1.5rem;
    width: 7rem;
    height: 2rem;
    align-self: center;
}

.envoyer {
    position: absolute;
    margin-bottom: 1.5rem;
    bottom: 0;
    right: 0;
}

form>button>p {
    margin: 5rem;
}

textarea {
    height: 10rem;
    resize: none !important;
    overflow: scroll !important;
}

/*Fin Form*/