@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

h4 {
    font-family: 'Nixie One', cursive !important;
}

hr {
    opacity: 5.25 !important;
    margin: auto 35% auto 35% !important;
}

#txt1 {
    font-family: 'Courier New', Courier, monospace;
}

#txt2 {
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (min-width: 431px) and (max-width: 699px) {

    .presentation {
        padding: 0.75em !important;
        margin-top: 63% !important;
    }

    hr {
        display: none;
    }

    .presentation-large {
        padding: 0.75em !important;
        margin-top: 104% !important;
        margin-left: -100%;

        text-align: center;
    }

    footer {
        padding: 2rem !important;
        margin: 8% 5.5% 0% 5.5% !important;
    }

}


@media screen and (min-width: 700px) and (max-width: 770px) {
    .presentation {
        padding: 0.75em !important;
        margin-top: 95% !important;
    }

    hr {
        display: none;
    }

    .presentation-large {
        padding: 0.75em !important;
        margin-top: 132% !important;
        margin-left: -100%;

        text-align: center;
    }

    footer {
        padding: 2rem !important;
        margin: 8% 5.5% 0% 5.5% !important;
    }
}

@media screen and (min-width: 771px) and (max-width: 990px) {

    .bg-image{
        padding: 20em !important;
    }

    .presentation {
        padding: 0.75em !important;
        margin-top: 95% !important;
    }

    hr {
        display: none;
    }

    .presentation-large {
        padding: 0.75em !important;
        margin-top: 121% !important;
        margin-left: -99%;
        text-align: center;
    }

    footer {
        padding: 2rem !important;
        margin: 8% 5.5% 0% 5.5% !important;
    }
}

@media screen and (min-width: 991px) and (max-width: 1110px) {

    .bg-image {
        padding: 48% !important;
    }

    .presentation {
        padding: 1.5em !important;
        margin-top: 66% !important;
        margin-left: 1% !important;
    }

    hr {
        display: none;
    }

    .presentation-large {
        padding: 1.5em !important;
        margin-top: 82.5% !important;
        margin-left: -98%;
        text-align: center;
    }

    footer {
        padding: 2rem !important;
        margin: 8% 5.5% 0% 5.5% !important;
    }
}


@media screen and (min-width: 1111px) and (max-width: 1190px){
    .bg-image {
        padding: 48% !important;
    }

    .presentation {
        padding: 1.5em !important;
        margin-top: 66% !important;
        margin-left: 1% !important;
    }

    hr {
        display: none;
    }

    .presentation-large {
        padding: 1.5em !important;
        margin-top: 82.5% !important;
        margin-left: -98%;
        text-align: center;
    }

    footer {
        padding: 2rem !important;
        margin: 5% 8.5% 0% 11.5% !important;
    }

}

@media screen and (min-width: 1170px) {
    
}



@media screen and (min-width: 1190px) {
    .bg-image {
        padding: 48% !important;
    }

    .presentation {
        padding: 2.5em !important;
        margin-top: 28.5em !important;
        margin-left: 41em !important;
        margin-right: 1.5em !important;
        background-color: white;
    }

    

    .presentation-large {
        padding: 5.5em !important;
        margin-top: 63.5% !important;
        margin-left: -98%;
        text-align: center;
    }

    footer {
        padding: 2rem !important;
        margin: 5% 8.5% 0% 11.5% !important;
    }
}