@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

body {
    background: rgb(255, 255, 255);
    margin: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

nav {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 10rem;
    background: #f3f3f3;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

nav input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    cursor: pointer;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav li {
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    border-top: 1px solid #555;
}

nav li:first-child {
    border-top: none;
}

nav ul>li.down>a:after {
    pointer-events: none;
    position: relative;
    float: right;
    content: '>';
    margin-top: -0.1em;
    font-size: 1.2em;
    vertical-align: middle;
    transition: 0.5s;
}

nav li:hover {
    background: #777777 !important;
}

nav .submenu {
    max-height: 0;
    overflow: hidden;
    border-top: none;
    transition: max-height 0.5s ease-in-out;
}

nav input[type=checkbox]:checked~.submenu {
    max-height: 999px;
    border-top: 1px solid rgb(0, 0, 0);
}

nav input[type=checkbox]:checked~a:after {
    transform: rotate(90deg);
}

nav .submenu a {
    padding: 5px 2px;
}

nav .submenu li {
    list-style-position: inside;
    list-style-type: square;
    background: rgb(248, 248, 248);
}

nav .submenu li.sub {
    list-style: none;
}

nav .submenu li li {
    background: #3a3a3a;
}


.container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(14, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(50px, auto);
}

.menuplacement {
    grid-column: 1;
    grid-row: 1;
}

div{
    background-image: none;
}

div.container{
    background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 80%;
    resize: both;
    overflow: scroll;
}

p{
    font-size: 0.8em;
    background-image: none;
    background-color: transparent;
}

p .presentation {
    grid-column: 4/14;
    grid-row: 1/6;
    color: white;
    position: absolute;
}

.nom {
    grid-column: 2/10;
    grid-row: 6/6;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Nixie One', cursive;
}

@media (max-width: 960px) {
    img {
        height: 300px;
        border-left-width: 20px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    div.container{
        background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 80%;
        height: 300px;
        border-left-width: 20px;
        display: block;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        resize: both;
        overflow: scroll;
    }


    .portrait {
        grid-column: 1/15;
        grid-row: 1/4;
    }

    .presentation {
        grid-column: 2/14;
        grid-row: 4/6;
        color: black;
        text-align: center;
    }

    .nom {
        grid-column: 1/15;
        grid-row: 7/7;
        font-size: x-large;
        font-weight: bolder;
        font-family: 'Nixie One', cursive;
        
    }
}