@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

body {
    background: rgb(255, 255, 255);
    margin: auto !important;
    max-width: 140rem;
    max-height: 1290px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;;
}


header {
    width: 100%;
    height: 50rem;   
    position: relative;

}

.bg-image {
    align-self: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 0em;
}

.bg-imagecontain {
    align-self: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 0em;
}


.bg-imagecontainwhite {
    align-self: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 0em;
}


.conteneur{
    display: flex;
    flex-direction: row;

    width: auto;
    height: auto;
}


.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
}

.presentation {
    position: absolute;
    background-color: #fff;
    width: 28%;
}

.conteneur .presentation{
    bottom: 0;
    right: 0;
}

section {
    margin: 1.25em;
}

main{
    margin: 1.75rem 0 1.75rem 0;
}

.presentation-large {
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 1rem !important;
    font-family: monospace;
}

#txt1 {
    font-family: 'Courier New', Courier, monospace;
}

#txt2 {
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nixie One', cursive !important;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bolder;
    font-weight: 1000;
}


.contact {
    font-family: 'Nixie One', cursive;
    text-align: left;
}

.contact h1,
.contact h2 {
    font-weight: 600;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collaboration {
    position: relative;
    display: flex;
    font-family: 'Nixie One', cursive;
    margin-top: -2%;
    padding-left: 1.75rem;
    
}

.collaboration>div{
    margin-top: 3.5rem;
    margin-right: 10%;
}

h6+p{
    font-family: 'Nixie One', cursive !important;
    font-size: 1.25rem !important;
}


/*footer*/
footer {
    margin: 2.75em 0 0 0;
    position: relative;
    font-weight: bolder;
    font-family: 'Nixie One', cursive;
}

.icon {
    height: auto;
    width: auto;
    max-width: 1.3em;
    max-height: 1.3em;
}

.bi {
    z-index: 0;
    color: rgb(124, 124, 124);
}

footer .bi:hover {
    fill: rgb(0, 0, 0) !important;
}











/*Accordion*/

#openBtn{
    margin: 0.75rem;
}

button {
    color: black !important;
    background-color: #fff !important;
}

.dropdown-toggle {
    float: left;
}

.dropdown-menu.show {
    position: relative !important;
    clear: both;
    margin-top: 0;
    transform: none !important;
}

.dropdown-item {
    background-color: #ffffff;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #000 !important;
    border-color: #CCC;
}

.btn-outline-dark:active,
.btn-outline-dark:focus {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #CCC;
}

.sidenav.active {
    color: #fff;
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255);
}

/* Menu burger*/
button .btn .btn-outline-dark .dropdown-toggle {
    z-index: auto;
    float: left;
    position: relative;
}

.btn-outline-dark {
    border: #CCC 0.1px solid !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: none;
}

.sidenav {
    height: 100%;
    width: 15.2em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background: #ffffff;
    font-family: monospace;
    font-weight: bold;
    font-stretch: semi-expanded;
    font-size: 70%;
    box-shadow: none;
}

.sidenav a {
    /*  margin: 7px -2px 7px -2px; */
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    display: block;
    border-radius: 0% !important;
}

.sidenav a:hover {
    color: #CCC;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav a {
    /* margin: 7px -2px 7px -2px;*/
    font-size: 1em;
    color: #000000;
    display: block;
}

.sidenav a .dropdown-item {
    margin: 0 !important;
}

.sidenav li a:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}

.sidenav button:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}

.sidenav ul {
    list-style-type: none;
    background: #ffffff;
    padding: 0;
    margin: 0;
}

.sidenav li {
    border: #CCC 0.1px solid;
}

.sidenav li:hover {
    border: #CCC 0.1px solid;
    color: #000;
}

li {
    padding: -15%;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #fff;
}

a.close:hover{
    color: transparent !important;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
    box-shadow: none !important;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15%;
    margin: 5px 0;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: -25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15%;
    margin: 5px 0;
}

.burger-icon-white span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.599);
    border-radius: 15%;
    margin: 5px 0;
}
/* Menu Dropdown 





/*background variations */

#home {
    background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
}

#methode {
    background-image: url(./photo/1200x630_jocelyn-cottencin.jpg);
}

/*Contact*/

#contact {
    background-image: url(./photo/auLarge.jpg);
}

#maiastra {
    background-image: url(./photo/maxresdefault.jpg);
}

/*créations*/

#chinoiseries {
    background-image: url(./photo/enchinoiseries.jpg);
}

#skein {
    background-image: url(./photo/7_889526.jpg);
}

#ebloui {
    background-image: url(./photo/01234633.jpg)
}

#auLarge {
    background-image: url(./photo/image.jpg)
}

#origine {
    background-image: url(./photo/123140932.jpg)
}

#combat {
    background-image: url(./photo/121245427.jpg)
}

#collab {
    background-image: url(./photo/Micro_halle_1_Marielle_Rossignol-51.jpg)
}

#film {
    background-image: url(./photo/Capture\ d’écran\ 2022-12-08\ 174114.jpg);
}



/*Media Queries*/

@media screen and (max-width: 768px) {
    .presentation{
        bottom: -1.75rem !important;
        width: 100%;
        text-align: center;
    }

    p{
        font-size: 0.97rem !important;
    }
}




/*Menu Medium & Large Screen*/

@media screen and (min-width: 769px) {

    .sidenav {
        position: absolute;
        height: 18.7em;
        background: white;
        left: 0px;
        margin-top: 0.75rem;
        border: none;
    }

    .sidenav.active {
        background-color: transparent !important;
    }

    .sidenav .close {
        display: none;
    }

    .burger-icon span {
        display: none;
    }
}

@media screen and (min-width: 770px) and (max-width:1180px){
    p{
        font-size: 1rem !important;
    }

    .presentation{
        width: 40%;
    }

}

@media screen and (min-width: 1181px){
    .bg-imagecontain {
        background-color: #000;
        background-size: contain;
    }

    .bg-imagecontainwhite {
        background-color: rgb(255, 255, 255);
        background-size: contain;
    }
}