@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

h4 {
    font-family: 'Nixie One', cursive !important;
}

hr {
    opacity: 5.25 !important;
    margin: auto 35% auto 35% !important;
}






@media screen and (min-width: 431px) and (max-width: 699px) {

    .presentation {
        padding: 0.75em !important;
        margin-top: 62% !important;
    }

hr {
    display: none;
}

    .presentation-large {
        padding: 0.75em !important;
        margin-top: 105% !important;
        margin-left: -100%;

        text-align: center;
    }

}

@media screen and (min-width: 700px) and (max-width: 770px) {

}

@media screen and (min-width: 771px) and (max-width: 990px) {

}

@media screen and (min-width: 991px) and (max-width: 1110px) {

}

@media screen and (min-width: 1111px) {

}

@media screen and (min-width: 1170px) {

}