.collaboration {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Nixie One', cursive;
    margin-top: -12%;
    padding-left: 1.75rem;
}

h4 {
    font-weight: 900 !important;
}

h5 {
    font-weight: bolder !important;
}

p {
    color: black !important;
    text-align: left !important;
    font-weight: lighter;
    font-size: 1.3rem !important;
    font-family: 'Nixie One', cursive !important;
}

.list1 {
    margin-top: 2%;
}

.list2 {
    margin-top: -166.5%;
    align-self: flex-end;
}

.bi {
    z-index: 0 !important;
    color: rgb(124, 124, 124);
}

footer {
    z-index: 0;
}

footer .bi :hover {
    fill: rgb(0, 0, 0);
}

.bi :hover {
    fill: rgb(0, 0, 0);
}



/*media queries*/

@media screen and (min-width: 431px) and (max-width: 699px) {

    .collaboration {
        padding: 1.5em !important;
        margin-top: -39% !important;
    }
}


@media screen and (min-width: 700px) and (max-width: 770px) {
    .collaboration {
        padding: 1.5em !important;
        margin-top: -2% !important;
    }

    footer {
        padding: 3.8rem !important;
        margin: -4% 3.5% auto 61.75 !important;
    }
}

@media screen and (min-width: 771px) and (max-width: 990px) {
    .collaboration {
        margin-top: 2%;
        padding-left: 1.75rem;
    }

    footer {
        padding: 3.8rem !important;
        margin: -4% 2% auto 15.75 !important;
    }
}

@media screen and (min-width: 991px) and (max-width: 1110px) {
    .collaboration {
        margin-top: 2%;
        padding-left: 1.75rem;
    }

    footer {
        padding: 3.8rem !important;
        margin: -4% 2% auto 15.75 !important;
    }
}

@media screen and (min-width: 1111px) {
    .collaboration {
        margin-top: -2%;
        padding-left: 1.75rem;
    }

    footer {
        padding: 3.8rem !important;
        margin: -1% 4% auto 62.75 !important;
    }
}

@media screen and (min-width: 1170px) {
    .collaboration {
        margin-top: -2%;
        padding-left: 1.75rem;
    }

    footer {
        padding: 3.8rem !important;
        margin: -1% 4% auto 62.75 !important;
    }
}



@media screen and (min-width: 1190px) {
    .bg-image {
        width: 100%;
        padding: 34% !important;
    }

    .collaboration {
        margin-top: -11%;
        padding-left: 1.75rem;
    }


    footer {
        padding: 3.8rem !important;
        margin: -1% -2.5% auto 0.75 !important;
    }
}