@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

body {
    background: rgb(255, 255, 255);
    margin: auto !important;
    max-width: 1200px;
    max-height: 1090px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}

.container {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0.5em;
}


#txt1 {
    font-family: 'Courier New', Courier, monospace;
}

#txt2 {
    font-family: 'Courier New', Courier, monospace;
}

/*Accordion*/

button {
    color: black !important;
}

.dropdown-toggle {
    float: left;
}

.dropdown-menu.show {
    position: relative !important;
    clear: both;
    margin-top: 0;
    transform: none !important;
}

.dropdown-item {
    background-color: #ffffff;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #000 !important;
    border-color: #CCC;
}

.btn-outline-dark:active, .btn-outline-dark:focus {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #CCC;
}

.sidenav.active {
    color: #fff;
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255);
}

/* Menu burger*/
button .btn .btn-outline-dark .dropdown-toggle {
    z-index: auto;
    float: left;
    position: relative;
}

.btn-outline-dark {
    border: #CCC 0.1px solid !important;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: none;
}

.sidenav {
    height: 100%;
    width: 15.2em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background: #ffffff;
    padding-top: 60px;
    font-family: monospace;
    font-weight: bold;
    font-stretch: semi-expanded;
    font-size: 70%;
    box-shadow: none;
}


.sidenav a {
    /*  margin: 7px -2px 7px -2px; */
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    display: block;
    border-radius: 0% !important;
}

.sidenav a:hover {
    color: #CCC;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.sidenav a {
    /* margin: 7px -2px 7px -2px;*/
    font-size: 1em;
    color: #000000;
    display: block;
}

.sidenav a .dropdown-item {
    margin: 0 !important;
}


.sidenav a:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}

.sidenav button:hover {
    color: #ffffff !important;
    background: #000000;
    text-decoration: none;
}

.sidenav ul {
    list-style-type: none;
    background: #ffffff;
    padding: 0;
    margin: 0;
    /*border: #CCC 0.25px solid;*/
}

.sidenav li {
    border: #CCC 0.1px solid;
}

.sidenav li:hover {
    border: #CCC 0.1px solid;
    color: #000;
}

li {
    padding: -15%;
}

.sidenav.active {
    left: 0;
}


.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
    box-shadow: none !important;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15%;
    margin: 5px 0;
}

.sidenav.active {
    left: 0;
}


.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(100, 100, 100);
    border-radius: 15%;
    margin: 5px 0;
}

/* Menu Dropdown 

nav {
    position: absolute;
    top: 2%;
    left: 0%;
    width: 6.5rem;
    background: #f3f3f3;
    font-size: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    flex-direction: row;
}

nav input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    cursor: pointer;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav li {
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    border-top: 1px solid #555;
}

nav li:first-child {
    border-top: none;
}

nav ul>li.down>a:after {
    pointer-events: none;
    position: relative;
    float: right;
    content: '>';
    margin-top: -0.1em;
    font-size: 1.2em;
    vertical-align: middle;
    transition: 0.5s;
}

nav li:hover {
    background: #777777 !important;
}

nav .submenu {
    max-height: 0;
    overflow: hidden;
    border-top: none;
    transition: max-height 0.5s ease-in-out;
}

nav input[type=checkbox]:checked~.submenu {
    max-height: 999px;
    border-top: 1px solid rgb(0, 0, 0);
}

nav input[type=checkbox]:checked~a:after {
    transform: rotate(90deg);
}

nav .submenu a {
    padding: 5px 2px;
}

nav .submenu li {
    list-style-position: inside;
    list-style-type: square;
    background: rgb(248, 248, 248);
}

nav .submenu li.sub {
    list-style: none;
}

nav .submenu li li {
    background: #3a3a3a;
}

*/


.box1 {
    display: flex;
    justify-content: space-evenly
}

.bg-image {
    background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding: 10em;
    margin: 1em;
    margin-top: -4em;
    overflow: scroll;
}

.presentation {
    position: absolute;
    text-align: center;
    padding: 2.5em;
    margin-top: 50%;
}


p {
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: monospace;
}


.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Nixie One', cursive;
    margin-top: -18%;
    padding-left: 1.75rem;
}

.contact h1,
.contact h2 {
    font-weight: 600;
}


footer {
    margin-top: 40%;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bolder;
    font-family: 'Nixie One', cursive;
}

.box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Nixie One', cursive;
}

h3 {
    font-size: 1em;
    font-weight: bolder;
    font-weight: 1000;
    font-family: 'Nixie One', cursive;
}

.icon {
    height: auto;
    width: auto;
    max-width: 1.3em;
    max-height: 1.3em;
}

.bi {
    z-index: 0 !important;
    color: rgb(124, 124, 124);
}

footer .bi :hover {
    fill: rgb(0, 0, 0) !important;
}









/*background variations */

/*compagnie*/
/*Méthode Feldenkrais*/
#methode {
    background-image: url(./photo/1200x630_jocelyn-cottencin.jpg);
}

/*Contact*/

#contact {
    background-image: url(./photo/auLarge.jpg);
}

#maiastra {
    background-image: url(./photo/maxresdefault.jpg);
}

/*créations*/

#chinoiseries {
    background-image: url(./photo/enchinoiseries.jpg);
}

#skein {
    background-image: url(./photo/7_889526.jpg);
}

#ebloui {
    background-image: url(./photo/01234633.jpg)
}

#auLarge {
    background-image: url(./photo/image.jpg)
}

#origine {
    background-image: url(./photo/123140932.jpg)
}

#combat {
    background-image: url(./photo/121245427.jpg)
}

#collab {
    background-image: url(./photo/Micro_halle_1_Marielle_Rossignol-51.jpg)
}

#film {
    background-image: url(./photo/Capture\ d’écran\ 2022-12-08\ 174114.jpg);
}










@media screen and (min-width: 800px) {
    .sidenav {
        position: absolute;
        background: none;
        left: 0px;
        padding-top: 16px;
        margin-left: 31px;
        transition: left 0.5s ease;
        box-shadow: none;
        border: none;
    }

    .sidenav .close {
        display: none;
    }

    .burger-icon span {
        display: none;
    }

}

@media screen and (min-width: 150px) and (max-width: 348px) {

    .dropend {
        display: none;
    }

    .bg-image {
        background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);

    }

    .presentation {
        position: absolute;
        text-align: center;
        padding: 1em;
        margin-top: 16.2em;
        transition: 0.5s;
    }

    footer {
        margin-top: 7.5em;
        padding: 2em;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
}


@media screen and (min-width: 349px) and (max-width: 430px) {



    .bg-image {
        background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        width: 100%;
        height: 100%;
        padding: 15em;
        margin: 1em;
        margin-top: 0.7em;
        overflow: scroll;
        transition: 0.5s;
    }

    .presentation {
        position: absolute;
        text-align: center;
        padding: 2em;
        margin-top: 60%;
        transition: 0.5s;
    }


    footer {
        margin-top: 6%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
}

@media screen and (min-width: 431px) and (max-width: 699px) {



    .bg-image {
        background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        width: 100%;
        height: 100%;
        padding: 15em;
        margin: 1em;
        margin-top: 0.7em;
        overflow: scroll;
        transition: 0.5s;
    }

    .presentation {
        position: absolute;
        text-align: center;
        padding: 6em;
        margin-top: 35%;
        transition: 0.5s;
    }

    footer {
        margin-top: -10%;
        padding: 7.8rem;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }

}


@media screen and (min-width: 700px) and (max-width: 770px) {


    .bg-image {
        background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 15em;
        margin: 1em;
        margin-top: 0.7em;
        overflow: scroll;
        transition: 0.5s;
    }

    .presentation {
        position: absolute;
        text-align: center;
        padding: 5em;
        margin-top: 78%;
        transition: 0.5s;
    }

    footer {
        margin-top: 11%;
        padding: 7.9rem;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }

}

@media screen and (min-width: 771px) and (max-width: 990px) {

    .btn-group-vertical {
        background-color: #ffffff;
    }

    .sidenav {
        width: 15.2em;
    }

    .bg-image {
        background-image: url(./photo/portrait_I-Fang_Lin_C_DominiqueLibert-1000x500.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 15em;
        margin: 1em;
        margin-top: 0.7em;
        overflow: scroll;
        transition: 0.5s;
    }

    .presentation {
        position: absolute;
        text-align: center;
        padding: 5em;
        margin-top: 60%;
        transition: 0.5s;
    }

    footer {
        margin-top: 5%;
        padding: 9rem;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }

}


@media screen and (min-width: 991px) and (max-width: 1110px) {

    .btn-group-vertical {
        background-color: #ffffff;
    }



    .sidenav {
        padding-top: 13px;
        margin-left: 31px;
        width: 9em;
    }


    .presentation {
        margin-top: 7em;
        margin-left: 36em;
        margin-right: 0.3em;
        transition: 0.5s;
    }

    p {
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        font-family: monospace;
        text-align: right;
    }

    .nom {
        transition: 0.5s;
    }

    h1 {
        font-size: 3rem;
        font-weight: bolder;
        font-family: 'Nixie One', cursive;
    }

    .bg-image {
        width: 100%;
        padding: 30%;
        margin-top: 0.8em;
        transition: 0.5s;
    }

    footer {
        padding: 7.5rem;
        margin-top: -19%;
        transition: 0.5s;
    }
}


@media screen and (min-width: 1111px) {

    .btn-group-vertical {
        background-color: #ffffff;
    }

    .sidenav {
        width: 9em;
    }

    .presentation {
        margin-top: 10.1em;
        margin-left: 35em;
        margin-right: 0.3em;
        transition: 0.5s;
    }

    p {
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        font-family: monospace;
        text-align: right;
    }

    .nom {
        transition: 0.5s;
    }

    h1 {
        font-size: 3rem;
        font-weight: bolder;
        font-family: 'Nixie One', cursive;
    }

    .bg-image {
        width: 100%;
        padding: 30%;
        margin-top: 1em;
        transition: 0.5s;
    }

    footer {
        padding: 8rem;
        margin-top: -17.5%;
        transition: 0.5s;
    }
}

@media screen and (min-width: 1170px) {

    .btn-group-vertical {
        background-color: #ffffff;
    }

    .sidenav {
        width: 9em;
    }

    .presentation {
        margin-top: 11.5em;
        margin-left: 34.5em;
        margin-right: 0.3em;
    }

    p {
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        font-family: monospace;
        text-align: right;
    }

    .nom {
        transition: 0.5s;
    }

    h1 {
        font-size: 3rem;
        font-weight: bolder;
        font-family: 'Nixie One', cursive;
    }

    .bg-image {
        width: 100%;
        padding: 30%;
        transition: 0.5s;
    }

    footer {
        padding: 8.8rem;
        margin-top: -19%;
        transition: 0.5s;
    }
}

@media screen and (min-width: 1190px) {

    .btn-group-vertical {
        background-color: #ffffff;
    }

    .sidenav {
        width: 9em;
    }

    .presentation {
        margin-top: 18em;
        margin-left: 60%;
        margin-right: 0.3em;
    }

    p {
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        font-family: monospace;
        text-align: right;
    }

    .nom {
        transition: 0.5s;
    }

    h1 {
        font-size: 3rem;
        font-weight: bolder;
        font-family: 'Nixie One', cursive;
    }

    .bg-image {
        width: 100%;
        padding: 30%;
        transition: 0.5s;
    }

    footer {
        padding: 3.8rem;
        margin-top: -15%;
        transition: 0.5s;
    }
}